<div class="page-header header-filter clear-filter  purple-filter  " data-parallax="true" style="background-image: url('./assets/img/test4.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand">
            <div class="col-md-10">
                <br>
                <br>
            <h3 class="title">los mejores resultados los obtienes cuando eliges lo que más te gusta.</h3>
            
            <p class="title">
                Tenlo en cuenta. Esto es clave. Lo que más te gusta. Es entonces cuando sacas lo máximo de cada uno de los puntos de arriba. Tenlo en cuenta cuando tengas que decidir. Pero tampoco lo pienses mucho. Si no lo tienes claro todavía, quizás no el el momento de decidir. Si lo tienes claro, no lo vas a dudar
            </p> 

            
            </div>
        </div>
      </div>
    </div>
  </div>
</div>