<app-header></app-header>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <h2 class="title">que estudiar??</h2>
      La elección de la carrera es un momento de tensión para muchos jóvenes. 
      El temor a tomar la decisión equivocada y el impacto de esto sobre tu futuro, son sólo algunas de las 
      preocupaciones más comunes. Por ello, toma en cuenta estos 6 consejos para saber con certeza si has elegido 
      correctamente.
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            
            <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn&apos;t scroll to get here. Add a button if you want the user to see more.</h5>
          </div>
        </div>
        <div class="features">
            <div class="row">
              <div class="col-md-3">
                <div class="info">
                  <div class="icon icon-info">
                    <i class="material-icons">access_time</i>
                  </div>
                  <h4 class="info-title">1) Sé proactivo
                    </h4>
                  <p>Si quieres saber qué estudiar no dejes pasar el tiempo, no se hará más simple y no llegará sola. Debes interesarte, averiguar, ver el abanico de opciones para tomar una decisión informada. Visita las universidades, asiste a charlas, 
                    habla con orientadores vocacionales, recurre a otros estudiantes
                     y profesionales de las carreras que puedan interesarte.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="info">
                  <div class="icon icon-warning">
                    <i class="material-icons">security</i>
                  </div>
                  <h4 class="info-title">2) Considera lo que quieres hacer, no qué estudiar</h4>
                  <p> Olvídate por un momento de qué estudiar y piensa en qué tipo de trabajo te imaginas realizando, 
                    en dónde y bajo qué medios.
                    Cuando sabes qué quieres ser, podrás determinar qué carrera más se acerca a esos intereses. </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="info">
                  <div class="icon icon-danger">
                    <i class="material-icons">money_off</i>
                  </div>
                  <h4 class="info-title">3) El salario no es lo importante</h4>
                  <p>Sabrás que has elegido correctamente si estarías dispuesto a no percibir un salario por realizar ese trabajo. Si el dinero es tu principal motivación es probable que no disfrutes lo que haces y estés insatisfecho con tu elección..</p>
                </div>
              </div>
              <div class="col-md-3">
                  <div class="info">
                    <div class="icon icon-success">
                      <i class="material-icons">compare</i>
                    </div>
                    <h4 class="info-title">4) Es tu decisión
                      </h4>
                    <p>No dejes que los demás tomen la decisión por ti. Puedes tomar en cuenta la opinión de tus padres y amigos, 
                      pero la decisión a fin de cuentas es tuya.
                       “el problema es cuando la persona convierte a las influencias en mandato; porque aparecen como
                        el único camino para satisfacer los deseos y ser parte de la familia, para sentirse identificado 
                        con los padres o, incluso, para cambiar la historia”. Esto no es saludable y no te hará feliz porque 
                        no serás lo que tú deseas ser. Concéntrate en
                         ti y lo que tú quieres.</p>
                  </div>
                </div>
            </div>
          </div>

         
    </div>
  </div>

  <!-- Carousel Card -->
  <div class="card card-raised card-carousel">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="./assets/img/bg2.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h4>
                <i class="material-icons">location_on</i> Yellowstone National Park, United States
              </h4>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/img/bg3.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h4>
                <i class="material-icons">location_on</i> Somewhere Beyond, United States
              </h4>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/img/bg.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h4>
                <i class="material-icons">location_on</i> Yellowstone National Park, United States
              </h4>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <i class="material-icons">keyboard_arrow_left</i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <i class="material-icons">keyboard_arrow_right</i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
</div>